.NavBar {
    margin: 0;
    padding: 0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
}
.NavBar a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}