.Checkout {
    padding: 2em;
    width: 80%;
}

.Cart {
    width: 70%;
    justify-content: flex-start; 
    display: inline-flex;
}

.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.infoForm {
    margin: 0 0 0.5em 0;
}